In [3]:
import pandas as pd
import zipfile
import pylab as pl

import geopandas as gp
from geopandas import GeoDataFrame

### Downloading census data for businesses by zip code

In [ ]:
# only got 1994 - 2001
!for ((y=93; y<=99; y+=1)); do wget ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp$ytotals.zip; done

!for ((y=0; y<=9; y+=1)); do wget ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp0$ytotals.zip; done

!for ((y=10; y<=15; y+=1)); do wget ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp$ytotals.zip; done

--2016-11-28 23:33:38--  ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp93totals.zip
           => “zbp93totals.zip”
Resolving ftp.census.gov... 148.129.75.35, 2610:20:2010:a09:1000:0:9481:4b23
Connecting to ftp.census.gov|148.129.75.35|:21... connected.
Logging in as anonymous ... Logged in!
==> SYST ... done.    ==> PWD ... done.
==> TYPE I ... done.  ==> CWD (1) /Econ2001_And_Earlier/CBP_CSV ... done.
==> SIZE zbp93totals.zip ... done.
==> PASV ... done.    ==> RETR zbp93totals.zip ...
No such file “zbp93totals.zip”.

--2016-11-28 23:33:38--  ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp94totals.zip
           => “zbp94totals.zip”
Resolving ftp.census.gov... 148.129.75.35, 2610:20:2010:a09:1000:0:9481:4b23
Connecting to ftp.census.gov|148.129.75.35|:21... connected.
Logging in as anonymous ...
Error in server response, closing control connection.
Retrying.

--2016-11-28 23:38:40--  ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp94totals.zip
  (try: 2) => “zbp94totals.zip”
Connecting to ftp.census.gov|148.129.75.35|:21... connected.
Logging in as anonymous ...
Error in server response, closing control connection.
Retrying.

--2016-11-28 23:43:43--  ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp94totals.zip
  (try: 3) => “zbp94totals.zip”
Connecting to ftp.census.gov|148.129.75.35|:21... connected.
Logging in as anonymous ... Logged in!
==> SYST ... done.    ==> PWD ... done.
==> TYPE I ... done.  ==> CWD (1) /Econ2001_And_Earlier/CBP_CSV ... done.
==> SIZE zbp94totals.zip ... 611524
==> PASV ... done.    ==> RETR zbp94totals.zip ... done.
Length: 611524 (597K) (unauthoritative)

100%[======================================>] 611,524      536K/s   in 1.1s

2016-11-28 23:43:45 (536 KB/s) - “zbp94totals.zip” saved [611524]

--2016-11-28 23:43:45--  ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp95totals.zip
           => “zbp95totals.zip”
Resolving ftp.census.gov... 148.129.75.35, 2610:20:2010:a09:1000:0:9481:4b23
Connecting to ftp.census.gov|148.129.75.35|:21... connected.
Logging in as anonymous ...
Error in server response, closing control connection.
Retrying.

--2016-11-28 23:48:47--  ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp95totals.zip
  (try: 2) => “zbp95totals.zip”
Connecting to ftp.census.gov|148.129.75.35|:21... connected.
Logging in as anonymous ...

### Converting zips into dataframes

In [10]:
# est is the number of establishments per zip code?

zf94 = zipfile.ZipFile('zbp94totals.zip')
df94 = pd.read_csv(zf94.open('zbp94totals.zip'.replace('.zip','.txt')))
df94.index = df94['zip']
df94.head()

       zip         name empflag   emp    qp1      ap  est
zip
1001  1001   Agawam, MA     NaN  6198  33601  155158  439
1002  1002  Amherst, MA     NaN  6073  28924  127367  450
1003  1003  Amherst, MA     NaN    68    367    1604   10
1004  1004  Amherst, MA     NaN   210    844    4302   47
1005  1005    Barre, MA     NaN   678   3010   13521   92

In [12]:
zf95 = zipfile.ZipFile('zbp95totals.zip')
df95 = pd.read_csv(zf95.open('zbp95totals.zip'.replace('.zip','.txt')))
df95.index = df95['zip']
zf96 = zipfile.ZipFile('zbp96totals.zip')
df96 = pd.read_csv(zf96.open('zbp96totals.zip'.replace('.zip','.txt')))
df96.index = df96['zip']
zf97 = zipfile.ZipFile('zbp97totals.zip')
df97 = pd.read_csv(zf97.open('zbp97totals.zip'.replace('.zip','.txt')))
df97.index = df97['zip']

In [15]:
zf98 = zipfile.ZipFile('zbp98totals.zip')
df98 = pd.read_csv(zf98.open('zbp98totals.zip'.replace('.zip','.txt')))
df98.index = df98['ZIP']
df98.head()

       ZIP            NAME EMPFLAG   EMP    QP1      AP  EST
ZIP
501    501  HOLTSVILLE, NY     NaN     2     11      57    3
1001  1001      AGAWAM, MA     NaN  7121  47926  215641  444
1002  1002     AMHERST, MA     NaN  6278  34435  154135  490
1003  1003     AMHERST, MA     NaN    86    535    2301   14
1004  1004     AMHERST, MA     NaN   172    811    4043   31

In [17]:
zf99 = zipfile.ZipFile('zbp99totals.zip')
df99 = pd.read_csv(zf99.open('zbp99totals.zip'.replace('.zip','.txt')))
df99.index = df99['ZIP']
zf00 = zipfile.ZipFile('zbp00totals.zip')
df00 = pd.read_csv(zf00.open('zbp00totals.zip'.replace('.zip','.txt')))
df00.index = df00['ZIP']
zf01 = zipfile.ZipFile('zbp01totals.zip')
df01 = pd.read_csv(zf01.open('zbp01totals.zip'.replace('.zip','.txt')))
df01.index = df01['ZIP']

In [32]:
# nope this didn't work

frames = [df94 + df95 + df96 + df97 + df98 + df99 + df00 + df01]

df = pd.concat(frames, axis=0, ignore_index=False)

df.tail()

,AP,EMP,EMPFLAG,EST,NAME,QP1,ZIP,ap,emp,empflag,est,name,qp1,zip
99927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
len(df)

41773

### Creating a geodataframe from the zip code polygon geojson file

In [36]:
!curl -O "https://raw.githubusercontent.com/fedhere/PUI2016_fb55/master/HW11_fb55/nyc-zip-code-\
tabulation-areas-polygons.geojson"
zip_gdf = GeoDataFrame.from_file('nyc-zip-code-tabulation-areas-polygons.geojson')
zip_gdf.tail()

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  591k  100  591k    0     0  3046k      0 --:--:-- --:--:-- --:--:-- 9247k

,@id,BLDGpostalCode,CTY_FIPS,OBJECTID,PO_NAME,STATE,ST_FIPS,Shape_Area,Shape_Leng,borough,geometry,postalCode
257,http://nyc.pediacities.com/Resource/PostalCode...,0,061,258,New York,NY,36,1.144258e+07,15541.743364,Manhattan,POLYGON ((-73.95232471528539 40.76453994029583...,10065
258,http://nyc.pediacities.com/Resource/PostalCode...,0,061,259,New York,NY,36,4.809655e+06,13540.765334,Manhattan,POLYGON ((-73.94908345691881 40.76828439957028...,10075
259,http://nyc.pediacities.com/Resource/PostalCode...,0,061,260,New York,NY,36,2.372366e+06,7780.632133,Manhattan,POLYGON ((-73.98821069346344 40.78122505891703...,10069
260,http://nyc.pediacities.com/Resource/PostalCode...,0,061,261,New York,NY,36,9.580872e+05,4717.025266,Manhattan,POLYGON ((-74.01468310237752 40.70979656993839...,10281
261,http://nyc.pediacities.com/Resource/PostalCode...,0,061,262,New York,NY,36,1.561955e+06,6083.869761,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,10282

### With more time, would have tried this method borrowed from Geoff Perrin.

In [ ]:
#group zipcodes with kmeans method
n = 3 # number of clusters

#train the model.
km = KMeans(random_state=123, n_clusters=n)
res = km.fit(nyc_df_pivoted)
#result.
print(res.labels_)
#print res.predict(dd)
print(km.cluster_centers_)